@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

/* Sección de about */
.about__container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  /* height: 60vh; */
  font-family: "Poppins", sans-serif;
  padding: 3px 0px 0px 0px;
  background-color: #6f4761;
  color: #e1dede;
}

@media (min-width: 769px) {
  .about__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    height: 60vh;
    font-family: "Poppins", sans-serif;
    padding: 0 3px;
    /* background-color: rgb(89, 31, 143) ; */
    color: #e1dede;
  }
}

.about__profile-img {
  row-gap: 0px;
  margin: 0 0;
  height: auto;
}

.about__image {
  width: 250px;
  /* margin: 15px 50px 40px 50px; */
}
@media (min-width: 769px) {
  .about__image {
    width: 200px;
    margin: 50px;
  }
}

.about__welcome-text {
  margin: 40px 50px 0px 50px;
  text-align: center;
  vertical-align: center;
  /* height: 300px; */
}
@media (min-width: 769px) {
  .about__welcome-text {
    margin: 0 0;
    vertical-align: center;
    /* height: 300px; */
  }
}

.about__title {
  margin-top: 0px;
}
